/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
    --color-de-fondo-lista:  #FFEEAD;
    --color-de-fondo-dos: bisque;
    --color-de-boton: #F7FED8;
}

body {
    background-color: var(--color-de-fondo-lista);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: var(--color-de-fondo-menu);
    padding: 1% 3% 0% 5%;
}

.cabecera__logo {
    width: 45px;
    height: 45px; /* Ajuste para pantallas pequeñas */
}

.cabecera__titulo {
    font-size: 1.2rem;
    padding-right: 30%;
}

.navegacion{
    padding-right: 3%;
}

.navegacion__lista {
    display: flex;
    gap: 20px;
}



.navegacion__elemento a {
    font-size: 0.9rem;
}
/* ------------------------------ Sección Presentación ------------------------------*/

.presentacion{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    padding: 0% 5%;
}

.presentacion__foto{
    width: 25%;
    height: auto;
    padding-top: 3%;
}

.presentacion__titulo{
    text-align: left;
}

.presentacion__subtitulo{
    text-align: left;
}

.presentacion__foto:hover.presentacion__foto{
    -webkit-transform: scale(1.1); transform: scale(1.1);
}

.presentacion__contenedor{
    font-size: 150%;
    padding-top: 3%;
}

.redes{
    display: flex;
    flex-direction: row;
    padding: 3% 3% 0% 0%;
    gap: 20px;
}

.redes__img{
    gap: 3px;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/

.sobre-mi{
    padding: 4%;
    font-size:larger;
}

.sobre-mi__titulo{
    text-align: center;
}

.sobre-mi__texto{
    text-align: justify;
}
/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades{
    padding:  5%;
    text-align: center;
}

.habilidades__lista{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.habilidades__elemento{
    background-color: var(--color-de-fondo);
    padding: 3%;
    height: 100px;
    width: 100px;
    flex-grow: 1;
}

/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones{
    padding: 5%;
    text-align: center;
}

.aficiones__lista{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.aficiones__elemento{
    background-color: var(--color-de-fondo);
    padding: 3%;
    height: 100px;
    width: 100px;
    flex-grow: 1;
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.formacion{
    padding: 5%;
    text-align: center;
    
}

.formacion__lista{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.formacion__elemento{
    background-color: var(--color-de-fondo);
    padding: 2%;
    height: 100px;
    flex-grow: 1;
}

.formacion__icono{
    height: 100%;
}

.formacion__nombre{
    padding: 0%;
}


/*------------------------------ Sección de Experiencia ---------------------------------*/
.proyectos{
    padding: 5% 5%;
    text-align: center; 
}

.proyectos__contenedor{
    display: flex;
    flex-direction:row;
    padding: 5%;
}

.proyectos__imagen{
    width: 50%;
}

.proyectos__imagen:hover.proyectos__imagen{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.proyectos__contenedor__titulo{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0% 0% 0% 3%;
}

.estilo__boton{
    border-radius: 20px;
    font-size: 14px;
    height: 35px;
    width: 100px;
    background-color: var(--color-de-boton);
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.estilo__boton::after {
    content: "";
    background: #FCDA05; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }

  .estilo__boton:hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
  }

/*------------------------------ Sección de Contacto ---------------------------------*/
input-container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
  }

.formcontato{
    background-color: var(--color-de-fondo-dos);
    width: 100%;
    height: 660px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.formcontato__contacto{
    display: flex;
    justify-content: center;
    padding-left: 7%;
    gap:1.5rem;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.formcontato__title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375rem; 
    padding-bottom: 0.5rem;
 }

.formcontato__subtext{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
}
.input-label{
    color: #A2A2A2;
}

.formcontato__input{
    box-sizing: border-box;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    border-bottom: solid 2px #2A7AE4;
    width: 656px;
    height: 58px;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
}

.formcontato__input::placeholder, .formcontato__textarea::placeholder{
    visibility: visible;
}

.formcontato__input:focus, .formcontato__textarea:focus{
  outline: none;
}

.input-label, .textarea-label {
    position: absolute;
    font-family: 'Raleway';
    top:1.2rem;
    left:1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    transition: all 0.25s;
}

.formcontato__textarea {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 4px;
    border:none;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-size: 1rem;
    resize: none;
}

.textarea-label{
    color: #A2A2A2;
}

.formcontato__botao{
    width: 165px;
    height: 51px;
    font-size: 1rem;
    font-weight: 400;
    background-color: #2A7AE4;
    border: none;
    color: #fff;
    cursor: pointer;
}



.input-container--invalid {
    margin-bottom: 0.5rem;
}
  
.input-container--invalid .formcontato__input {
    border: 4px solid #ff0000;
    border-radius: 7px;
}
  
.input-container--invalid .input-label {
    color: #ff0000;
    font-weight: 700;
}
  
.input-message-error {
    display: none;
}
  
.input-container--invalid .input-message-error {
    color: #ff0000;
    font-weight: 700;
    font-size: 1.1rem;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}


/* ------------------------------ Responsividad ---------------------------------------*/

@media (max-width: 748px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__logo {
        max-width: auto;
        height: auto;
    }

    .cabecera__titulo {
        font-size: 1rem;
    }


    .navegacion__lista:nth-child(1),
    .navegacion__lista:nth-child(2),
    .navegacion__lista:nth-child(3),
    .navegacion__lista:nth-child(4),
    .navegacion__lista:nth-child(5){
        display: none;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;

    }

    .navegacion__elemento a {
        font-size: 1rem;
    }

    .presentacion{
        padding-top: 0%;
        display: flex;
        flex-direction:column;
    }

    .presentacion__foto{
        padding-top: 5%;
    }

    .redes{
        font-size: smaller;
    }

    .formacion__lista{
        row-gap: 100px;
    }

    .formacion__nombre{
        font-size: smaller;
        padding: 2%;
    }

    .formcontato--esquerda{
        display:none;
    }


}

@media (max-width: 1200px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__titulo {
        font-size: 1.8rem;
        display: flex;
        justify-content: flex-start;
    }

    .cabecera__logo{
        width: auto;
        height: auto;
    }

    .navegacion__lista:nth-child(1),
    .navegacion__lista:nth-child(2),
    .navegacion__lista:nth-child(3),
    .navegacion__lista:nth-child(4),
    .navegacion__lista:nth-child(5){
        display: none;
    }

    .presentacion{
        padding-top: 0%;
        display: flex;
        flex-direction:column;
    }

    .formacion__lista{
        row-gap: 100px;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
        display: block;
    }

    .formcontato__img{
        display: none;
    }

    .formcontato__text{
        width: 80%;
    }
    .input-container{
        width: 100%;
    }
    .formcontato__input{
        width: 95%;
    }
    .formcontato__textarea{
        width: 95%;
    }
}
